// РАЗРЕШЕНИЯ
$width-desktop-lg: 1920px;
$width-desktop: 1440px;
$width-desktop-small: 1280px;
$width-tablet-lg: 1024px;
$width-tablet: 768px;
$width-mobile: 320px;

// РЕТИНА
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// Шрифт
$font: "Roboto", sans-serif;

// ЦВЕТА
$white: #ffffff;
$black: #000000;
$mine-shaft: #262626;
$cod-gray: #191919;
$denim: #0f72b7;
$silver: #c7c7c7;
$alabaster: #fafafa;
$gray: #8c8c8c;
$bahama-blue: #005999;


// скорость анимации элементов
$transition: 0.3s ease;
